<div id="movie_container" class="cf">

  <form action="/movies" method="get">
    <input type="text" name="input_title">
    <button>Return</button>
  </form>

  <%  if !params["input_title"].nil? %>
    <p id="movies"><%= @results.title %></p>
      <li>
        <ul><%= "Plot:  " + @results.plot.to_s %></ul>
        <ul><%= "Year:  " + @results.released.to_s %></ul>
        <ul><%= "Director:  " + @results.director.to_s %></ul>
        <ul><%= "Actors:  " + @results.actors.join(",  ") %></ul>
      </li>

  <%  end %>

</div>